body {
   margin: 0; 
   padding: 1em;
   font-family: "Lucida Grande", sans-serif;
}

p {
    margin: 0 0 1.2em 0;
}

form {
    margin: 0 0 1.2em 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    line-height: 1;
    font-size: 12px;
}

li {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    height: 20px;
}

.playcount {
    z-index: 2;
    position: absolute;
    left: 0.5em;
    top: 3px;
    text-align: right;
    width: 2.5em;
    color: #999;
}

.artist {
    z-index: 2;
    position: absolute;
    left: 3.5em;
    top: 0;
    padding: 3px 109px 0 0;
}

.artist img {
    position: absolute;
    right: 0;
    top: 0;
}

.chartbar {
    position: absolute;
    z-index: 1;
    height: 18px;
    background: #ddd;
    top: 0;
    left: 0;
}

.inBestOf {
    color: #FF2863;
    font-weight: bold;
}